# NOTE: Service name must match the repository name, but replace all '.' with '-' (this is a restriction of Cloudformation naming conventions)
service: aws-certbot

plugins:
  - serverless-offline

custom:
  securityHash: ${file(./securityhash.txt)}
  appHash: ${file(./apphash.txt)}
  table: ${env:PIPELINE}.${env:STAGE}

provider:
  name: aws
  runtime: nodejs6.10
  stage: ${opt:stage, env:STAGE}
  environment:
    TABLE: ${self:custom.table}
  # NOTE: Codebuild passes the lambda role from the security stack to the serverless deploy command in the live CI/CD pipeline
  role: ${file(./rolearn.txt)}
  region: ${env:AWS_REGION}
  stackTags:
    Type: service

functions:
  hello:
    environment:
      SLACK_APP_AUTH_TOKEN: ${opt:clientSecret}
      VERIFICATION_TOKEN: ${opt:slackToken}
      SECRETS_BUCKET: ${file(./s3.txt)}
      SECURITY_COMMIT_HASH: ${self:custom.securityHash}
      APP_COMMIT_HASH: ${self:custom.appHash}
    handler: index.hello
    events:
      - http:
          path: hello/world
          method: post
          cors: true

  postCert:
    environment:
      SLACK_APP_AUTH_TOKEN: ${opt:clientSecret}
      VERIFICATION_TOKEN: ${opt:slackToken}
      SECRETS_BUCKET: ${file(./s3.txt)}
      SECURITY_COMMIT_HASH: ${self:custom.securityHash}
      APP_COMMIT_HASH: ${self:custom.appHash}
    handler: postCert.handler
    timeout: 60
    events:
      - http:
          path: cert
          method: post
          cors: true

# TODO: If needed, add additional Lambda Function definitions here
# EXAMPLE: a more complete Lambda Function definitions
# getDynamoDBCloudwatchMetrics:
#   handler: get-dynamodb-cloudwatch-metrics/index.handler
#   events:
#     - schedule: rate(1 hour)
#   package:
#     include:
#       - get-dynamodb-cloudwatch-metrics/**
#   environment:
#     CURRENT_TABLES_TABLE:
#       Ref: CurrentTablesTable

resources:
  Resources:

#    TODO: If needed, add CloudFormation resources
#    EXAMPLE: S3 Bucket 
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
    DynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: '${self:custom.table}'
        AttributeDefinitions:
          - AttributeName: certKey
            AttributeType: S
        KeySchema:
          - AttributeName: certKey
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

  Outputs:

#     TODO: If needed, add Cloudformation Outputs
#     EXAMPLE: Cloudformation Output
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"

